
extends layout

block content
    h1= "Clinica OnLine"
    p Bem vindo à sua Clínica online!

    // Wrapper
    #wrapper

        // LISTA DE CLIENTES
        h2 Agendamento Online
        #userList
            table
                thead
                    th Cliente
                    th Telefone
                    th Agendamento
                    th Cancelar Atendimento?
                tbody
        // /USER LIST

    // /WRAPPER


#################################################################################


extends layout

block content
    h1= "Clinica OnLine"
    p Bem vindo à sua Clínica online!

    // Wrapper
    #wrapper

        // MENU PRINCIPAL
        h2 Agendamento Online
        p <a href="/clients/newclient" class="linknewclient" rel="' '">Novo Atendimento</a>
        p <a href="/clients/listclient" class="linklistclient" rel="' '">Lista de clientes</a>
